// color palette - these colors will be the color swatches of the Colors section

$color-1: #06d6a0; // Dark blue- background color
$color-2: #118ab2; // light blue
$color-3: #ef476f; // green
$color-4: #ffd166; // yellow
$color-5: #073b4c; // red

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red