/*------------ Import fonts ------------*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
}

/*------------ Header Rules ------------*/
header h1 {
    font-size: 3rem;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 2rem;
    padding-bottom: 1rem;
    font-family: "Press Start 2P", cursive;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #4cf000, 0 0 25px #4cf000;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #08e2ff, 0 0 20px #08e2ff, 0 0 25px #08e2ff;
    }
}

header h2 {
    font-size: 1rem;
    text-align: center;
    background-color: #000000;
    color: #4cf000;
    margin: 0;
    padding: 2rem;
    padding-top: 1rem;
    font-family: "Press Start 2P", cursive;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% { transform: translate(0,0); }
    5% { transform: translate(0,0); }
    25% { transform: translate(5%,0%); }
    50% { transform: translate(-5%,0%); }
}

/*---- Apply to all the subheadings ----*/
h3 {
    font-size: 1.5rem;
    font-family: 'Share Tech Mono', monospace;
}

/*-- Apply to all the content blocks ---*/
.summary, 
.preamble, 
.explanation, 
.participation, 
.benefits, 
.requirements, 
footer, 
.sidebar {
    padding: 1rem;
    margin-top: 20px;
}

/*------- Apply to all the links -------*/
a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #08ff08;
}

/*------------ Summary Rules -----------*/
.summary,
.explanation,
.benefits {
  background-color: #14bedc;
  border: 10px #00eeff;
  border-style: outset;
}

/*--- Intercalete background colors ----*/
.preamble, 
.participation, 
.requirements {
    background-color: #a8a0a0;
    border: 10px #7f8383;
    border-style: outset;
}

/*------------ Footer Rules ------------*/
footer {
    font-size: 1rem;
    text-align: center;
    background-color: #dc143c;
}

footer a {
    padding: 1rem;
    margin-right: 5px;
}

a.zen-validate-html:hover {
    background-color: #14bedc;
    color: #000;
}

a.zen-validate-css:hover {
    background-color: #ffffff;
    color: #000;
}
  
a.zen-license:hover {
    background-color: #e0dd0f;
    color: #000;
}
  
a.zen-accessibility:hover {
    background-color: #0fe00f;
    color: #000;
}

a.zen-github:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

/*----------- Sidebar Rules ------------*/
.sidebar {
    color: #dc143c;
    background-color: #000000;
}